Simple string **formatting**

In [2]:
"My number is {} and my name is {}".format(11, "Holiday")

'My number is 11 and my name is Holiday'

In [7]:
"My number is {x} and my name is {y} and I am from {z}".format(y="Holiday", z="out of the world", x = 11)

'My number is 11 and my name is Holiday and I am from out of the world'

String **indexing** nuance

In [6]:
s = "abcdefghijk"
s[:3] # notice - up to but not including index 3

'abc'

**Dictionary**

In [8]:
d = {'key 1': 'value', 'key 2': 123, 'key 3': "oh boy"}

In [9]:
d[0] # this doesn't work because dictionary extract value based on key

KeyError: 0

In [11]:
d["key 1"]

'value'

**Tuples are immutable**

In [13]:
a = (1,2,3)
a[1] = 2.0

TypeError: 'tuple' object does not support item assignment

**Set - values are unique**

In [15]:
{1,2,3,3,3}

{1, 2, 3}

In [ ]:
my_list = [1,2,3,4,4,5,5,7,7,9,9,9,9,0,0,0,0]
# use set to grab unique elements from a list
set(my_list)

Logical Operators

In [19]:
(1<2) and (3>4)

False

**Conditional Statements**

In [1]:
if 1 == 2:
    print("First")
elif 3 == 3: # notice elif
    print("Middle")
else:
    print("Last")

Middle

**for loop** - note it does not require the use of index all the time

In [2]:
seq = [1,2,3,4,5]

for item in seq:
    print(item)

1
2
3
4
5

**range** - observe its behavior

In [6]:
range(0,5)

range(0, 5)

In [7]:
type(range(0,5))

range

In [8]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**List comprehension** - saves a for loop

In [14]:
x = [1,2,3,4]
x_sq = [num**2 for num in x]
x_sq

[1, 4, 9, 16]

**Function** - for quick reference of syntax

In [16]:
def myfunc(param1):
    print(param1)

In [19]:
myfunc("oh")

oh

In [22]:
def square(num):
    """
    okay, this is how you give brief introduction to your function
    can have multiple lines
    """
    return num ** 2 # return can be a statement or a method

square(4)

16

**map()** - operate a function on every element in a sequence

In [23]:
seq=list(range(1,6))
seq

[1, 2, 3, 4, 5]

In [25]:
map(square,seq)

In [27]:
list(map(square, seq))

[1, 4, 9, 16, 25]

**Lambda expression**

In [28]:
# 1. as a re-usable function
cube = lambda x: x ** 3
cube(2)

8

In [31]:
# 2. as a one-time function
list(map(lambda x: x % 3, seq))

[1, 2, 0, 1, 2]

**filter()**

In [33]:
filter(lambda x: x % 2 == 0, seq)

In [34]:
list(filter(lambda x: x % 2 == 0, seq))

[2, 4]

**String methods**

In [35]:
s = "hello my name is Holiday"

In [36]:
s.lower()

'hello my name is holiday'

In [37]:
s.upper()

'HELLO MY NAME IS HOLIDAY'

In [38]:
s.split() # default - by space

['hello', 'my', 'name', 'is', 'Holiday']

In [39]:
tweet = "Go sports! #Sports"

In [41]:
tweet.split("#")[1] # grab hash tags from social media posts

'Sports'

**Dictionay methods**

In [42]:
d = {"k1":"v1", "k2":"v2"}

In [44]:
d.keys()

dict_keys(['k1', 'k2'])

In [45]:
d.values()

dict_values(['v1', 'v2'])

In [46]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

**List methods**

In [50]:
ls = [1,2,3]

In [51]:
ls.pop()

3

In [52]:
ls

[1, 2]

In [54]:
ls = [1,2,3,4,5]
pop_item = ls.pop()
pop_item

5

**in** operator

In [56]:
"x" in [1,2,3]

False

In [58]:
1 in range(3)

True

**Tuple unpacking** - when iterating through a list of tuple

In [59]:
x = [(1,2), (3,4), (5,6)]

In [63]:
for (a,b) in x: # note the () is unnecessary
    print(a)

1
3
5