In [4]:
from pandas_datareader import data, wb
import pandas as pd
import datetime

In [28]:
start = datetime.date(2006,1,1)
end = datetime.date(2016, 1,1)

**need api for some sources**

BAC = data.DataReader("BAC", "iex", start, end, api_key="pk_df0917d327d84b36adce3e5fffeb5373")

In [37]:
BAC = data.DataReader("BAC", "yahoo", datetime.date(2006,1,1), datetime.date(2016, 1,1))

In [33]:
BAC.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  35.523922
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  35.146645
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  35.191933
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  35.139107
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  35.161732